.home-page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f2ee;
    color: black;
}

.home-container {
    text-align: center;
    padding-top: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 28rem;
}

.title-text {
    font-size: 6rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.title-subtext {
    width: 40%;
    font-size: 1.125rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    border: 3px solid #000000;
    padding: 3rem 10rem;
    font-weight: bold;
}


.convert-container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f3f2ee;
    padding: 4rem 0;
}

.convert-section {
    margin: 20px 30px;
    padding: 30px 0px;
    width: 28vw;
    height: 750px;
    border: 3px solid black;
    border-radius: 0px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f3f2ee;
}

.convert-section h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.convert-section p {
    width: 80%;
    font-size: 18px;
}

.convert-section:hover {
    border-color: black;
    background-image: var(--hover-bg);
    background-size: auto 100%;
    background-position: var(--hover-bg-pos);
    background-repeat: no-repeat;
}

.convert-section:active {

}

.convert-section.is-selected {
    border-color: black;
    background-color: black;
}


.title-fx {
    position: fixed;
    left: 120px;
    top: 16px;
    transform-origin: top left;

    --tx: 0px;
    --ty: 0px;
    --scale: 1;

    transform: translate(var(--tx), var(--ty)) scale(var(--scale));
    will-change: transform;
    z-index: 20;

    font-size: 6rem;
    font-weight: bold;
    color: #000000;
    margin: 0;

}